.profile {
    width: 80%;
    height: auto;
    margin: 10px
}

.red-box {
    background-color: red;
    width: 100px;
    height: 50px;
    text-align: center;
    color: white;
    padding: 12px;
    font-size: 18px;
    display: inline-block;
    border: thin solid white;
    border-radius: 10px;
}

a.chat__menu {
    color: white !important;
    text-decoration: none;
}